<div fxFill fxLayout='row' fxLayoutGap="10%">
    <div>
        <app-employee-select (userSelected)="showForm($event)"></app-employee-select>
    </div>
    <div [hidden]='hidden'>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="calc(50% - 380px /3)" fxFill>
            <div>
                <h6>Resetowanie hasła do konta {{resetPassword.login}}</h6>
            </div>
            <div>
                <form #resetForm="ngForm" fxLayout="column" autocomplete="off" fxLayoutGap="20px" (ngSubmit)="reset()" >
                    <div fxLayout='row' fxLayoutAlign='space-arround' fxLayoutGap="20px">
                        <div class="form-group">
                            <label class="label" for="input-password" col-form-label>Hasło</label>
                            <input class="form-control" 
                             nbInput 
                             required
                             name="password"
                             type="password"
                             [(ngModel)]="resetPassword.password"
                             #password="ngModel"
                             placeholder="hasło"
                             id="input-password"
                             [status]="password.touched ? (password.invalid ?  'danger': 'succes'): 'basic' ">
                             <ng-container *ngIf="password.invalid && password.touched">
                                <p class="caption status-danger" *ngIf="password.errors?.required">
                                    Pole hasło jest wymagane
                                </p>
                             </ng-container>
                        </div>
                        <div class="form-group">
                            <label class="label" for="input-confirmPassword" col-form-label>Powtórz</label>
                            <input class="form-control" 
                             nbInput 
                             required
                             name="confirmPassword"
                             type="confirmPassword"
                             [(ngModel)]="resetPassword.confirmPassword"
                             #confirmPassword="ngModel"
                             placeholder="hasło"
                             id="input-confirmPassword"
                             type='password'
                             [status]="confirmPassword.touched ? (confirmPassword.invalid ?  'danger': 'succes'): 'basic' ">
                             <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
                                <p class="caption status-danger" *ngIf="confirmPassword.errors?.required">
                                    Pole potwierdź jest wymagane
                                </p>
                             </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="form-control" nbButton hero shape="semi-round" status="info" type="submit" [disabled]="!resetForm.valid">Resetuj</button>
                    </div>
                </form>
            </div>
            <div style="min-width: 200px;">
                <nb-alert *ngIf="submitted" [outline]="statusMessage ? 'success' : 'danger'" role="alert">
                    <p class="alert-title">{{message}}</p>
                    <ul  class="alert-message-list">
                        <li *ngFor="let error of errors" class="alert-message">{{error}}</li>
                    </ul>
                </nb-alert>
            </div>
        </div>
    </div>
</div>