<div fxFill>
    <nb-card>
        <nb-card-header>
            <h6>PROFIL</h6>
        </nb-card-header>
        <nb-card-body fxLayout="column" fxLayoutGap="3%">
            <div fxLayout="row" fxLayoutAlign='space-evenly center'>
                <div fxLayoutGap="15%">
                    <label class="label">Login:</label>
                    <label>{{employeeDetails.login}}</label>
                </div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign='space-evenly center'>
                <div fxLayoutGap="15%">
                    <label class="label">Imię:</label>
                    <label>{{employeeDetails.firstName}}</label>
                </div>
                <div fxLayoutGap="15%">
                    <label class="label">Nazwisko:</label>
                    <label>{{employeeDetails.lastName}}</label>
                </div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign='space-evenly center'>
                <div fxLayoutGap="15%">
                    <label class="label">Zawód:</label>
                    <label>{{employeeDetails.professionName}}</label>
                </div>
                <div *ngIf='employeeDetails.rtPPNumber' fxLayoutGap="15%">
                    <label class="label">Specializacja:</label>
                    <label>{{employeeDetails.specializationName}}</label>
                </div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign='space-evenly center'>
                <div fxLayoutGap="15%">
                    <label class="label">Pesel:</label>
                    <label>{{employeeDetails.personalId}}</label>
                </div>
                <div *ngIf='employeeDetails.rtPPNumber' fxLayoutGap="15%">
                    <label class="label">NR_PDWZ:</label>
                    <label>{{employeeDetails.rtPPNumber}}</label>
                </div>
            </div>
            
        </nb-card-body>
    </nb-card>
</div>