<div fxFill>
    <nb-flip-card [flipped]='flipped' [showToggleButton]='false'>
        <nb-card-front>
            <nb-card>
                <nb-card-body>
                    <app-employee-select (userSelected)='userSelected($event)'></app-employee-select>
                </nb-card-body>
            </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>
                    <h6>Edycja grafiku</h6>
                </nb-card-header>
                <nb-card-body>
                    <app-callendar 
                        [employeeLogin]='employeeLogin' 
                        [isAdministrator]='(accountService.isAdministrator | async) || false'
                        [availableDates]='availableDates'
                        (changeEvent)='changeEvent($event)'
                        (deleteEvent)='deleteEvent($event)'
                        (selectedDayEvent)='selectedDay($event)'>
                    </app-callendar>
                </nb-card-body>
                <nb-card-footer>
                    <div>
                        <nb-icon icon='arrow-ios-back-outline' (click)='flipped = !flipped'></nb-icon>
                    </div>
                </nb-card-footer>
            </nb-card>
        </nb-card-back>
    </nb-flip-card>

</div>
